src/test/java/com/example/examclient/service/ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.examservice.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.examservice.example.com/" name="ProductServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.examservice.example.com/" schemaLocation="http://localhost:8089/ws?xsd=1"/>
</xsd:schema>
</types>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="sellProduct">
<part name="parameters" element="tns:sellProduct"/>
</message>
<message name="sellProductResponse">
<part name="parameters" element="tns:sellProductResponse"/>
</message>
<message name="getAllProducts">
<part name="parameters" element="tns:getAllProducts"/>
</message>
<message name="getAllProductsResponse">
<part name="parameters" element="tns:getAllProductsResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<portType name="ProductService">
<operation name="addProduct">
<input wsam:Action="http://service.examservice.example.com/ProductService/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://service.examservice.example.com/ProductService/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="sellProduct">
<input wsam:Action="http://service.examservice.example.com/ProductService/sellProductRequest" message="tns:sellProduct"/>
<output wsam:Action="http://service.examservice.example.com/ProductService/sellProductResponse" message="tns:sellProductResponse"/>
</operation>
<operation name="getAllProducts">
<input wsam:Action="http://service.examservice.example.com/ProductService/getAllProductsRequest" message="tns:getAllProducts"/>
<output wsam:Action="http://service.examservice.example.com/ProductService/getAllProductsResponse" message="tns:getAllProductsResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://service.examservice.example.com/ProductService/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://service.examservice.example.com/ProductService/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
</portType>
<binding name="ProductServicePortBinding" type="tns:ProductService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sellProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductServiceService">
<port name="ProductServicePort" binding="tns:ProductServicePortBinding">
<soap:address location="http://localhost:8089/ws"/>
</port>
</service>
</definitions>